<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <header id="sidebar-wrapper">
            <div id="profile-card">
                <a href="/" class="home-click">
                    <div id="profile-header">
                        <img src="~/Content/images/houseicon.png" id="home-icon" />
                        <img src="~/Content/images/space-2.jpg" id="header-bg" />
                    </div>
                    <img src="~/Content/images/sethpic-sq.jpg" id="profile-pic" />
                    <h1>Seth Johnson<span>Web Developer</span></h1>
                </a>
                <div class="icons">
                    <div class="row">
                        <div class="col-xs-3"><a href="https://github.com/sethjdev" target="_blank"><i class="fa fa-github fa-2x"></i></a></div>
                        <div class="col-xs-3"><a href="https://www.linkedin.com/in/sethjdev" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></div>
                        <div class="col-xs-3"><a href="https://twitter.com/sethjDesigns" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></div>
                        <div class="col-xs-3"><a href="mailto:seth.johnson0126@gmail.com"><i class="fa fa-envelope fa-2x"></i></a></div>
                    </div>
                </div>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li><a href="/about-me" data-content="About Me" class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">About Me<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/portfolio" data-content="Portfolio" class="@(ViewContext.RouteData.Values["Action"].ToString() == "Portfolio" ? "active" : "")">Portfolio<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/contact" data-content="Contact" class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">Contact<i class="fa fa-angle-right"></i></a></li>
                </ul>
            </nav>
            <div id="footer">
                <p>&copy; @DateTime.Now.Year Seth Johnson</p>
            </div>
        </header>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-push-1">
                        <div id="body-content">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
